*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

div{
    border: solid black;
    border-radius: 10px;
}

div>p:first-child
{
    text-align: center;
}

section{
    display:flex;
    justify-content: space-around;
}